---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Box from "../components/Box.astro";
import BoxTitle from "../components/BoxTitle.astro";
import { Icon } from "astro-icon/components";

const grados = [
  { grado: "Kinder", estudiantes: 20, icon: "lucide:smile" },
  { grado: "1er Grado", estudiantes: 30, icon: "lucide:pen-tool" },
  { grado: "2do Grado", estudiantes: 28, icon: "lucide:edit" },
  { grado: "3er Grado", estudiantes: 32, icon: "lucide:graduation-cap" },
  { grado: "4to Grado", estudiantes: 27, icon: "lucide:book-open" },
  { grado: "5to Grado", estudiantes: 29, icon: "lucide:calculator" },
  { grado: "6to Grado", estudiantes: 31, icon: "lucide:atom" },
  { grado: "7mo Grado", estudiantes: 26, icon: "lucide:microscope" },
  { grado: "8vo Grado", estudiantes: 25, icon: "lucide:ruler" },
  { grado: "9no Grado", estudiantes: 22, icon: "lucide:school" },
];
---

<BaseLayout 
  title="Inicio" 
  description="Bienvenido a Manuel Urbano Ayarza, institución educativa pública con 350 estudiantes y 25 docentes comprometidos con educación de calidad en Colón, Panamá desde 1918."
>
  <section>
    <Hero />
    <article class="min-h-[100dvh] animate-fade-in fill-both timeline-view animate-range-[15%_50%]">
      
      <BoxTitle className="bg-primary p-4 sticky top-0 z-1" title="Matrícula Actual">
        <Icon name="lucide:graduation-cap" class="w-6 h-6" slot="icon"/>
      </BoxTitle>
        
      <div class="grid grid-cols-1 gap-3 py-4 md:py-8 lg:grid-cols-2">
        <div class="order-2">
          <div class="flex flex-col gap-2 w-full">
            <Box className="p-4 md:p-8 w-48 text-center w-full flex flex-col gap-4">
              <div class="flex flex-col gap-4">
                <div class="flex flex-row justify-center gap-4">
                  <Icon name="lucide:user" class="w-10 h-auto"/>
                  <p class="text-3xl font-bold text-white">350</p>
                </div>
                <p class="text-secondary">Estudiantes</p>
              </div>
              <table class="w-full border-spacing-4">
                <thead>
                  <tr class="border-b border-secondary">
                    <th>
                      <p class="text-text-tertiary">Matutino</p>
                    </th>
                    <th>
                      <p class="text-text-tertiary">Vespertino</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr> 
                    <td>
                      <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                          <tr class="border-b border-secondary">
                            <th class="text-text-tertiary">Grado</th>
                            <th class="text-text-tertiary">Estudiantes</th>
                          </tr>
                          <tbody>
                             {grados.map(({ grado, estudiantes, icon }) => (
                              <tr>
                                <td class="border-b border-secondary"> {grado}</td>
                                <td class="text-secondary border-b border-secondary">{estudiantes}</td>
                              </tr>
                            ))}
                          </tbody>
                      </table>  
                    </td>
                       <td>
                      <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                          <tr class="border-b border-secondary">
                            <th class="text-text-tertiary">Grado</th>
                            <th class="text-text-tertiary">Estudiantes</th>
                          </tr>
                          <tbody>
                             {grados.map(({ grado, estudiantes, icon }) => (
                              <tr>
                                <td class="border-b border-secondary"> {grado}</td>
                                <td class="text-secondary border-b border-secondary">{estudiantes}</td>
                              </tr>
                            ))}
                      </table>  
                    </td>
                  </tr>
                </tbody>
              </table>
            </Box>
          </div>
        </div>
        <div class="flex order-1">
            <img
          src="/logos/escuela2.png"
          class="mask-b-from-5% mask-b-to-95% w-full h-auto"
          alt="Institución educativa Manuel Urbano Ayarza - Colón, Panamá"
        />
        </div>
        
      </div>
    </article>

      <article class="min-h-[100dvh] animate-fade-in fill-both timeline-view animate-range-[15%_50%]">
        
      <BoxTitle className="bg-primary p-4 sticky top-0 z-1" title="Cuerpo Docente">
        <Icon name="lucide:users-round" class="w-6 h-6" slot="icon"/>
      </BoxTitle>

      <div class="grid grid-cols-1 gap-3 py-4 md:py-8 lg:grid-cols-2">
        <div class="order-2 lg:order-1">
          <div class="flex flex-col gap-2 w-full">
            <Box className="p-4 md:p-8 w-48 text-center w-full flex flex-col gap-4">
              <div class="flex flex-col gap-4">
                <div class="flex flex-row justify-center gap-4">
                  <Icon name="lucide:users-round" class="w-10 h-auto"/>
                  <p class="text-3xl font-bold text-white">25</p>
                </div>
                <p class="text-secondary">Docentes</p>
              </div>
              <table class="w-full border-spacing-4">
                <thead>
                  <tr class="border-b border-secondary">
                    <th>
                      <p class="text-text-tertiary">Matutino</p>
                    </th>
                    <th>
                      <p class="text-text-tertiary">Vespertino</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr> 
                    <td>
                      <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                          <tr class="border-b border-secondary">
                            <th class="text-text-tertiary">Grado</th>
                            <th class="text-text-tertiary">Docentes</th>
                          </tr>
                          <tbody>
                             {grados.map(({ grado, estudiantes, icon }) => (
                              <tr>
                                <td class="border-b border-secondary"> {grado}</td>
                                <td class="text-secondary border-b border-secondary">{estudiantes}</td>
                              </tr>
                            ))}
                          </tbody>
                      </table>  
                    </td>
                       <td>
                      <table class="w-full border-separate border-spacing-y-2">
                        <thead>
                          <tr class="border-b border-secondary">
                            <th class="text-text-tertiary">Grado</th>
                            <th class="text-text-tertiary">Docentes</th>
                          </tr>
                          <tbody>
                             {grados.map(({ grado, estudiantes, icon }) => (
                              <tr>
                                <td class="border-b border-secondary"> {grado}</td>
                                <td class="text-secondary border-b border-secondary">{estudiantes}</td>
                              </tr>
                            ))}
                      </table>  
                    </td>
                  </tr>
                </tbody>
              </table>
            </Box>
          </div>
        </div>
        <div class="flex order-1 lg:order-2">
            <img
          src="/logos/docentes.png"
          class="mask-b-from-10% mask-b-to-90%"
          alt="Institución educativa Manuel Urbano Ayarza - Colón, Panamá"
          class="rounded-2xl object-fit w-full h-auto"
        />
        </div>
        
      </div>
    </article>
  </section>
</BaseLayout>
